<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ulc.myname"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ULC</name>

  <description>
      cool
  </description>

  <author href="https://phonegap.com" email="youremail@gmail.com">
      MREDSTONEGUYUDN
  </author>

  <icon src="icon.png" />

</widget>